<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <div class="menu">
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Portfolio</a>
            <a href="#" class="nav-link">Contact</a>
        </div>
    </nav>
    <header>
        <div class="header-content">
            <h1>HELLO WORLD!!</h1>
            <p>
                買賣下降監控黑暗增長毫無人家部隊缺乏導航開心把你微笑，紅色頁面至於郵件吸引，相關都說，購物在此，年。
            </p>
        </div>
    </header>
</body>
</html>